@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 901px) {
  .espacio-azul {
    width: 100%;
    height: 5px;
    background-color: #572EE5;
  }
  .pointer {
    cursor: pointer;
  }
  header {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
  }
  header .logo-menu .logo-gifos {
    width: 30%;
    height: 59.1px;
  }
  header .logo-menu .logo-gifos img {
    padding-left: 12rem;
  }
  header .logo-menu .logo-gifo {
    background-color: #572EE5;
  }
  header .logo-menu .burger {
    display: none;
  }
  header .logo-menu .botonmas:hover {
    cursor: pointer;
  }
  header .logo-menu .menu {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-right: 12rem;
  }
  header .logo-menu .menu .close {
    display: none;
  }
  header .logo-menu .menu ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    list-style: none;
  }
  header .logo-menu .menu ul li a {
    text-decoration: none;
    font-size: 13px;
    font-family: Montserrat;
    font-weight: bold;
    color: #572EE5;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section .description {
    width: 600px;
    margin-top: 7px;
  }
  section .description h2 {
    font-family: Montserrat;
    color: #572EE5;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
  }
  section .description h2 span {
    color: #50E3C2;
  }
  section .main-search {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 31px;
  }
  section .main-search .imput-search {
    width: 600px;
    height: 50px;
    border: 1px solid #572EE5;
    border-radius: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .main-search .imput-search input {
    padding-left: 10px;
    border: none;
    height: 45px;
    width: 75%;
    border-radius: 50px;
    line-height: 19px;
    font-size: 16px;
    outline-width: 0;
  }
  section .main-search .imput-search .fa-search {
    font-size: 1.2rem;
    color: #9CAFC3;
    visibility: hidden;
  }
  section .main-search .imput-search #btn-search {
    padding-right: 20px;
    cursor: pointer;
  }
  section .main-search .lista-sugerencias {
    display: none;
    width: 600px;
    height: auto;
  }
  section .main-search .lista-sugerencias ul {
    list-style: none;
  }
  section .main-search .lista-sugerencias ul li {
    width: 100%;
    margin: 5px 0;
    font-family: Roboto;
    font-size: 16px;
    cursor: pointer;
  }
  section .main-search .lista-sugerencias .fa-search {
    font-size: 1.2rem;
    color: #9CAFC3;
    margin: 0 10px 0 48px;
  }
  section .trending {
    width: 402px;
    margin-top: 31px;
    margin-bottom: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .trending h3 {
    font-size: 18px;
    text-align: center;
    font-family: montserrat;
    color: #572EE5;
    line-height: 25px;
  }
  section .trending p {
    font-family: montserrat;
    color: #572EE5;
    font-size: 0.875rem;
    line-height: 25px;
    text-align: center;
    font-weight: normal;
  }
  .section2 {
    background-color: #F3F5F8;
  }
  .section2 .trending-gifos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2 .trending-gifos h2 {
    font-family: montserrat;
    color: #572EE5;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    padding-top: 46px;
    margin-bottom: 7px;
  }
  .section2 .trending-gifos h4 {
    width: 20.8125rem;
    text-align: center;
    line-height: 23px;
    color: #000000;
    font-family: Roboto;
    font-weight: 400;
  }
  .titulo-search {
    display: none;
    width: 550px;
    height: 30;
    margin: 50px 0;
  }
  .titulo-search h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    text-transform: capitalize;
  }
  /*Hover de las cajas gif*/
  .gif-box {
    position: relative;
  }
  .hover-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(87, 46, 229, 0.7);
  }
  .info {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 51px;
    margin-left: 18.5px;
  }
  .info .user {
    font-family: Roboto;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 6px;
    text-transform: capitalize;
  }
  .info .titulo-gif {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
  }
  .icon-fav, .download-icon, .expand-icon {
    margin-right: 10px;
    margin-top: 10px;
    width: 32px;
    height: 32px;
  }
  .icon-fav {
    background-color: #FFFFFF;
    opacity: 0.7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 6px;
  }
  .icon-fav:hover {
    opacity: 1;
  }
  .icons-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .carrousel-container {
    position: relative;
    width: 100%;
    margin-top: 56px;
    margin-bottom: 182px;
  }
  .galeria {
    margin-top: 2rem;
    margin-bottom: 5.125rem;
    overflow: hidden;
    width: 80%;
    margin: auto;
  }
  .galeria .carrousel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 275px;
  }
  .galeria .carrousel .trendings-gif {
    margin-left: 25px;
  }
  .galeria .carrousel .trendings-gif .trending-gif {
    height: 275px;
    width: 357px;
  }
  .slider {
    width: 40px;
    height: 40px;
  }
  #slider-left-carrousel {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    cursor: pointer;
  }
  #slider-rigth-carrousel {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    cursor: pointer;
  }
  .container-search {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 79px;
  }
  .searched-gifs {
    width: 260px;
    height: 200px;
  }
  .search-gifs {
    width: 260px;
    height: 200px;
    margin: 14.5px;
  }
  .btn-ver-mas {
    display: none;
    width: 127px;
    height: 50px;
    background-color: #F3F5F8;
    border: 1px solid #572EE5;
    border-radius: 25px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    padding: 16px 31px;
    margin-bottom: 79px;
    cursor: pointer;
  }
  .caja-expandido {
    display: none;
    width: 100%;
  }
  .caja-expandido .container-expand {
    width: 830px;
    height: 688px;
    margin: auto;
  }
  .caja-expandido .container-expand .cerrar {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-top: 66px;
    margin-bottom: 66px;
  }
  .caja-expandido .container-expand .sliders-gifmax {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .caja-expandido .container-expand .sliders-gifmax .gif-max {
    margin: 25px;
  }
  .caja-expandido .container-expand .datos-gif {
    display: inline-block;
    width: 29%;
    margin-left: 20%;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
  }
  .caja-expandido .container-expand .acciones {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .caja-expandido .container-expand .acciones-buttom-fav {
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    border-radius: 6px;
    width: 36px;
    height: 36px;
    margin-right: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .caja-expandido .container-expand .acciones-buttom-download {
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    border-radius: 6px;
    width: 36px;
    height: 36px;
  }
  .caja-expandido .container-expand-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    height: 116px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p:first-child {
    padding-left: 100px;
    font-family: roboto;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 400;
  }
  footer .redes-sociales {
    width: 5.6875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .redes-sociales img {
    padding: 0 10px;
  }
  footer .copyright {
    margin-left: auto;
    font-family: roboto;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.25rem;
    font-weight: 400;
    padding-right: 100px;
  }
  .favoritos {
    width: 100%;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 79px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .favoritos-titulo {
    margin-top: 8px;
    margin-bottom: 36px;
  }
  .favoritos-titulo h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
  }
  .favoritos-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fav-gifs {
    width: 260px;
    height: 200px;
    margin: 14.5px;
  }
  .gif {
    width: 260px;
    height: 200px;
  }
}

@media screen and (max-width: 900px) {
  .espacio-azul {
    width: 100%;
    height: 5px;
    background-color: #572EE5;
  }
  header {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 95px;
  }
  header .logo-menu .logo-gifos {
    width: 6rem;
    height: 3,05rem;
    padding-left: 1.375rem;
  }
  header .logo-menu .logo-gifo {
    background-color: #572EE5;
  }
  header .logo-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 1.625rem;
  }
  header .logo-menu .menu .burger:hover {
    cursor: pointer;
  }
  header .logo-menu .menu .burger-close {
    display: none;
  }
  header .logo-menu .menu .botonmas {
    display: none;
  }
  header .logo-menu .menu .close-burger {
    display: none;
  }
  header .logo-menu .menu .close:hover {
    cursor: pointer;
  }
  header .logo-menu .menu ul {
    display: none;
  }
  header .logo-menu .menu .ul-desplegado {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    margin: 30px 0px;
    left: 0;
    background-color: rgba(87, 46, 229, 0.9);
  }
  header .logo-menu .menu .ul-desplegado li {
    list-style: none;
  }
  header .logo-menu .menu .ul-desplegado li a {
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    display: block;
    padding: 30px;
    height: 60px;
    margin-top: 17px;
  }
  section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section .description {
    width: 17.875rem;
    height: 6.1875rem;
    margin-top: 7px;
  }
  section .description h2 {
    font-family: Montserrat;
    color: #572EE5;
    font-size: 1.5625rem;
    text-align: center;
    line-height: 2.0625rem;
  }
  section .description h2 span {
    color: #50E3C2;
  }
  section .main-search {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 31px;
  }
  section .main-search .main-image {
    width: 17.0625rem;
    height: 8.125rem;
  }
  section .main-search .imput-search {
    width: 20.8075rem;
    height: 3.125rem;
    border: 1px solid #572EE5;
    border-radius: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .main-search .imput-search input {
    border: none;
    width: 13.4375rem;
    height: 1.375rem;
    line-height: 19px;
    padding-left: 1.5625rem;
  }
  section .trending {
    width: 14.75rem;
    margin-top: 31px;
    margin-bottom: 45px;
  }
  section .trending h3 {
    text-align: center;
    font-family: montserrat;
    color: #572EE5;
    line-height: 25px;
  }
  section .trending p {
    width: 14.0625rem;
    height: 3.125rem;
    font-family: montserrat;
    color: #572EE5;
    font-size: 0.875rem;
    line-height: 25px;
    text-align: center;
    font-weight: normal;
  }
  section .trending p a {
    text-decoration: none;
    color: #572EE5;
  }
  .section2 {
    background-color: #F3F5F8;
  }
  .section2 .trending-gifos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2 .trending-gifos h2 {
    font-family: montserrat;
    color: #572EE5;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    padding-top: 46px;
    margin-bottom: 7px;
  }
  .section2 .trending-gifos h4 {
    width: 20.8125rem;
    text-align: center;
    line-height: 23px;
    color: #000000;
    font-family: Roboto;
    font-weight: 400;
  }
  .section2 .carrousel-container {
    width: 100%;
  }
  .section2 .galeria {
    margin-top: 2rem;
    margin-bottom: 5.125rem;
    overflow: hidden;
    width: 80%;
    margin: auto;
  }
  .section2 .galeria .carrousel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 187px;
  }
  .section2 .galeria .trending-gif {
    width: 243px;
    margin-left: 22px;
  }
  .section2 .slider {
    display: none;
  }
  footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p:first-child {
    margin-top: 2.9375rem;
    font-family: roboto;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0;
    font-weight: 400;
  }
  footer .redes-sociales {
    width: 5.6875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
  footer .copyright {
    margin-bottom: 1.4375rem;
    font-family: roboto;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
/*# sourceMappingURL=style.css.map */