*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and(min-width: 901px){
    @import "./desktop-styles/desktop-style-header";
    @import "./desktop-styles/desktop-style-main";
    @import "./desktop-styles/desktop-style-carrousel";
    @import "./desktop-styles/desktop-style-buscador";
    @import "./desktop-styles/desktop-style-gif-max";
    @import "./desktop-styles/desktop-style-footer";
    @import "./desktop-styles/desktop-style-favoritos";
    @import "./desktop-styles/desktop-style-mis-gifos";
    @import "./desktop-styles/desktop-style-crear-gifo";
    @import "./desktop-styles/desktop-style-mod-noc";
}

@media screen and(max-width: 900px){
    @import "./mobile_styles/_mobile-style-header";
    @import "./mobile_styles/moblie-style-main";
    @import "./mobile_styles/mobile-style-footer";
}