$espacio-azul:#572EE5;
.espacio-azul{
    width: 100%;
    height: 5px;
    background-color: $espacio-azul;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    
    .logo-menu{
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 95px;
        //logo GIFOS
        .logo-gifos{
            width: 6rem;
            height: 3,05rem;
            padding-left: 1.375rem;
            
        }
        .logo-gifo{
            background-color: #572EE5;
        }
        
        //menu hamburguesa sin funcionalidad
        .menu{
            display: flex;
            justify-content: flex-end;
            padding-right: 1.625rem;
            .botonmas{
                display: none;
            }
            ul{
            display:none;
        }
        }
       
    }
}