footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p:first-child{
        margin-top: 2.9375rem;
        font-family: roboto;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0;
        font-weight: 400;
    }

    .redes-sociales{
        width: 5.6875rem;
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }
    
    .copyright{
        margin-bottom: 1.4375rem;
        font-family: roboto;
        font-size: 0.875rem;
        letter-spacing: 0;
        line-height: 1.25rem;
        font-weight: 400;
    }
}