.caja-expandido{
    display: none;
    width: 100%;

    .container-expand{
        width: 830px;
        height: 688px;
        margin: auto;

        .cerrar{
            width: 15px;
            height: 15px;
            margin-left: auto;
            margin-top: 66px;
            margin-bottom: 66px;
        }

        .sliders-gifmax{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .gif-max{
                margin: 25px;
            }
        }

        .datos-gif{
            display: inline-block;
            width: 29%;
            margin-left: 20%;
            font-family: Roboto;
            font-weight: bold;
            font-size: 16px;
            color: #000000      
        }

        .acciones{
            display: inline-flex;
            width: 50%;
            justify-content: center;
            
            &-buttom-fav{
                opacity: 0.5;
                border: 1px solid #9CAFC3;
                border-radius: 6px;
                width: 36px;
                height: 36px;
                margin-right: 21px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-buttom-download{
                opacity: 0.5;
                border: 1px solid #9CAFC3;
                border-radius: 6px; 
                width: 36px;
                height: 36px;
            }

        }

        &-footer{
            display: flex;
        }
    }
}