.favoritos-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 79px;    
}

.fav-gifs{
    width: 260px;
    height: 200px;
    margin: 14.5px;
}

.gif{
    width: 260px;
    height: 200px;
}