footer{
    height: 116px;
    width: 100%;
    display: flex;
    align-items: center;

    p:first-child{
        padding-left: 100px;
        font-family: roboto;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0;
        font-weight: 400;
    }

    .redes-sociales{
        width: 5.6875rem;
        display: flex;
        img{
            padding: 0 10px ;
        }
    }
    
    .copyright{
        margin-left: auto;
        font-family: roboto;
        font-size: 0.875rem;
        letter-spacing: 0;
        line-height: 1.25rem;
        font-weight: 400;
        padding-right: 100px;
    }
}