.fondo-noc-first{
    background-color: #37383C;
}

.fondo-noc-second{
background-color: #222326;
}

.words-noc-first{
    color: #FFFFFF !important;
}

.words-noc-second{
    color:#9CAFC3;
}

.border-noc{
    border: 1px solid #FFFFFF !important;
}

.espacio-negro{
    background-color: #000000 !important;
}