.crear-gifo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 688px;
        height: 390px;
        border: 1px solid #572EE5;
        position: relative;

        h3{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 25px;
            color: #572EE5;
            text-align: center;
            line-height: 35px;

            span{
                color: #50E3C2;
            }
        }

        p{
            font-family: Roboto;
            font-size: 16px;
            color: #000000;
            text-align: center;
            line-height: 29px;
        }

        video{
            height: 390px;
        }

        &-hover{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            background-color: #572EE5;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-icons{
                align-self: flex-end;
                margin-right: 32px;
                visibility: hidden;
            }

            &-descripcion{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 84px;

                p{
                    font-family: Montserrat;
                    font-weight: bold;
                    font-size: 15px;
                    color: #FFFFFF;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }

    &-pasos{
        margin-top: 24px;
        display: flex;
        width: 50%;

        div{

            &:first-child{
                margin-left: 39.3%;
            }

            display: inline-block;
            border: 1px solid #572EE5;
            border-radius: 50%;
            font-family: Roboto;
            font-size: 18px;
            color: #572EE5;
            text-align: center;
            width: 32px;
            height: 32px;
            padding-top: 5px;
            margin-right: 25px;
        }

        .temporizador{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 15px;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
            padding-top: 5px;
            margin-left: auto ;
        }

        .fondo-azul{
            background-color: #572EE5;
            color: white;
        }
    }

    &-espacio-azul{
        margin-top: 19px;
        width: 796px;
        height: 7px;
        background-color: #572EE5;
    }

    &-button{
        border: 1px solid #572EE5;
        border-radius: 25px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 13px;
        color: #572EE5;
        letter-spacing: 0;
        text-align: center;
        width: 127px;
        height: 50px;
        padding-top: 18px;
        margin-top: 20px;

        &:hover{
            background-color: #572EE5;
            color: white;
        }
    }
}